<!DOCTYPE html>
<html>
<head>
    <title>Scanned Data</title>
</head>
<body>
    <h1>Scanned QR Code Data</h1>
    <p>{{ data }}</p>
    <a href="{% url 'scan_qr' %}">Scan Another QR Code</a>
</body>
</html>
